h1 {
    color: black;
    text-align: center;
    font-size: 50px;
	display: flex;    
    flex-wrap: wrap;
}

p {
    color: red;

}

body {
    
    background: url("sky.jpg");
}
.typewriter h1 {

  	font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
#mypic{
	margin: 20px
}
.links{
	font-size: 50px;
	font-weight: bold;
	font-family: serif;
	display: inline-block;
	margin-left: 100px	
}
.links a { position:relative; display: inline-block;}
.links a span { position:absolute; display:none; z-index:0; }
.links a:hover span { display:block; }